{{ if .Site.Params.topbar.enable }}
<div id="top">
  <div class="container">
    <div class="row">
      <div class="col-xs-5">
        {{ .Site.Params.topbar.text | safeHTML }}
      </div>
      <div class="col-xs-7">
        <div class="social">
          {{ range .Site.Menus.topbar.ByWeight }}
          {{ if Name "GitHub"}}
          <a href="{{ .URL }}" target="_blank" style="opacity: 1;" class="github">{{ .Pre }}</a>
          {{ end }}
          {{ if Name "Facebook"}}
          <a href="{{ .URL }}" target="_blank" style="opacity: 1;" class="facebook">{{ .Pre }}</a>
          {{ end }}
          {{ if Name "Linkedin"}}
          <a href="{{ .URL }}" target="_blank" style="opacity: 1;" class="linkedin">{{ .Pre }}</a>
          {{ end }}
          {{ if Name "Email"}}
          <a href="{{ .URL }}" target="_blank" style="opacity: 1;" class="email">{{ .Pre }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
